{% extends 'base.html' %}
{% block content %}
    <title> {{ title|capfirst }} </title>
    <h1> {{ title|capfirst }} </h1>
<h3>Реализован следующий функционал:</h3>
<ul>
 <li>• Регистрация пользователя по имейлу и паролю с указанием типа поставщик, потребитель
 <li>• Аутентификация пользователя
 <li>• Создание склада
 <li>• Создание товара
 <li>• Поставщик должен иметь возможность поставлять товар на выбранный склад
 <li>• Потребитель должен иметь возможность забирать товар со склада
</ul>
<h3>Ограничения:</h3>
<ul>
 <li>• Потребитель не может поставлять товар
 <li>• Поставщик не может получать товар
 <li>• Потребитель не может получить товара больше, чем имеется на складе
</ul>
{% endblock %}