<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <p> {% for m in menu %}</p>
    <li> <a href="{% url m.url_name %}"> {{ m.title }}  </a>
    {% endfor %}
    <h1> {{ title }}</h1>
    <ul>{% for s in storages %}
        {% if s.open == True %}
        <li> <h3> {{ s.title }} </h3>
        <p> Адрес: {{ s.address }} </p>
        <p> <a href="{% url 'show_store' s.id %}"> Поставить товар  </a> </p>
        <p> <a href="{% url 'show_store' s.id %}"> Забрать товар </a> </p>
        <hr>
    </li> {% endif %}
    {% endfor %}
    </ul>
</head>
<body>

</body>
</html>